<!DOCTYPE html>
<html ng-app="musicApp">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Patrick+Hand+SC" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="app.js"></script>
</head>

<body>
    <div class="container" class="clearfix" ng-controller="music">
        <div>
            <h1 class="text-center">Music Tracks</h1>
        </div>
        <div id="search">
            <input class="col-xs-12 col-md-12" type="search" ng-model="q" name="search" placeholder="Search title">
        </div>
        <div>
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="track in tracks | filter: q as results">
                    {{track.title}} <span ng-hide="!track.genres[0]"> [{{track.genres[0].name}}]</span> </li>
            </ul>
        </div>
        <div class="clearfix">
          <a ng-href="add-track.html"><button class="btn btn-primary col-xs-12">Add new Track</button></a>
        </div>
        <hr>
        <div class="bottom-button">
            <div class="btn-group col-xs-12 clearfix">
                <button type="button" class="btn btn-default col-xs-4">Page 1</button>
                <button type="button" class="btn btn-primary col-xs-4">Page 2</button>
                <button type="button" class="btn btn-default col-xs-4">Page 3</button>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
        crossorigin="anonymous"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</body>

</html>